51/raw/*.txt -text whitespace=-blank-at-eol
52/raw/*.txt -text whitespace=-blank-at-eol
52/corrected/raw/*.txt -text whitespace=-blank-at-eol
53/budget-v*.html -text whitespace=-blank-at-eol
53/v*-inline.js -text whitespace=-blank-at-eol,-blank-at-eof
53/*.json -text whitespace=cr-at-eol
53/*.txt -text whitespace=cr-at-eol
54/*.json -text whitespace=cr-at-eol
54/docs-v1-export.md -text whitespace=-blank-at-eol,cr-at-eol
54/*.csv -text whitespace=cr-at-eol
55/* -text whitespace=cr-at-eol
56/* -text whitespace=cr-at-eol
